div
    div.panel-heading.blog-name(class=model.className)
        h4
            i.icon-3x.pull-right.icon-muted.hidden-md.hidden-xs(class=model.iconClass)
            img(src=model.image)
            a(href=model.url) #{model.name}

    ul.posts-container
