<!DOCTYPE html>
html(lang="en")

    head
        title Brad Harris

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="format-detection" content="telephone=no")

        link(rel="shortcut icon" type="image/x-icon" href="http://www.gravatar.com/avatar/c20763ec853bb1d2eb3e8a08cc5a28b9?s=16")
        link(rel="apple-touch-icon" type="image/x-icon" href="http://www.gravatar.com/avatar/c20763ec853bb1d2eb3e8a08cc5a28b9?s=16")
        link(rel="apple-touch-icon" sizes="72x72" type="image/x-icon" href="http://www.gravatar.com/avatar/c20763ec853bb1d2eb3e8a08cc5a28b9?s=72")
        link(rel="apple-touch-icon" sizes="114x114" type="image/x-icon" href="http://www.gravatar.com/avatar/c20763ec853bb1d2eb3e8a08cc5a28b9?s=114")

        link(href=url('css/bootstrap.min.css') rel="stylesheet" media="screen")
        link(href=url('css/font-awesome.css') rel="stylesheet")
        link(href=url('css/custom.css') rel="stylesheet" media="screen")

    body

        script(src=url('js/brad.js'))
        script.
            window.app = require('brad')({
                fitbit: !{JSON.stringify(fitbit)},
                repos: !{JSON.stringify(repos)},
                blogs: !{JSON.stringify(blogs)}
            });
